.aling-button{
    text-align: center;
}
.top-label{
    color: #ffffff !important;
}

.main-label{
    color: #ffffff !important;
}

.bottom-label{
    color: #ffffff !important;
}


a img{
    margin-top: 10px;
}

.album-fotos{
    /*background-image: url(/img/feria/feria1.jpg);
    background-size: cover;*/
    background-position-y: -35px;
    height: 11em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    box-shadow: 5px 3px #33323247;
    cursor: pointer;
}

._2gxa{
    overflow: hidden;
    position: relative;
}

._2gxb {
    background: linear-gradient(transparent, rgba(0, 0, 0, .7));
    bottom: 0;
    color: #fff;
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
}
._2gxd{
    bottom: 27px;
    position: absolute;
}
._2pis {
    padding-left: 8px;
}
._2iem {
    font-size: 18px;
    line-height: 18px;
}
._2gxe {
    bottom: 8px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}
.uiScaledImageContainer{
    position: relative;
    overflow: hidden;
}
.uiScaledImageContainer .scaledImageFitWidth {
    height: auto;
    min-height: initial;
    width: 100%;
}

.uiScaledImageContainer img {
    height: 100%;
    min-height: 100%;
    position: relative;
}
.album_titulo{
    color: #fff;
    text-shadow: 2px 0 0 #000;
    margin-left: 10px;
    display: flex;
    align-self: flex-end;
}

.galeria-gotiahorro{
    height: 190px;
}

.feature-box-info p{
	text-align: justify;
}

.thumb-info-action-icon{
	cursor: pointer;
}