@font-face {
    font-family: AmazingKids;
    src: url(../webfonts/AmazingKids.ttf);
    }

@font-face{
    font-family: Lato;
    src: url(../webfonts/lato/Lato-Bold.ttf);
}


.modal-body {
    padding: 0;
}
.t_imagen{
    background-image: url(../img/inicio.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.titulo_p{
    font-family: AmazingKids;
    font-size: 5.5em;
    margin-bottom: -40px;
}

.text_am{
    color: #f9ff07;
    font-family: AmazingKids;
    font-size: 5.5em;
    margin-bottom: 0;
}

.center-m0{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.proceso{
    height: 100vh;
    background-image: url(../img/procesoA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
}
.gotina{
    background-image: url(../img/g2.png);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 25em;
    width: 20%;
}

.gotina:hover{
    cursor: pointer;
}

.gotin:hover{
    cursor: pointer;
}

.goton:hover{
    cursor: pointer;
}
.gotin{
    background-image: url(../img/g1.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    height: 25em;
    width: 20%;
}

.m_gotina{
    height: 2.5em;
    background: #df6ba4;
    padding: 8px;
    color: #fff;
    border-radius: 8%;
    border-color: #fff;
    border: 8px;
}
.m_gotina:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #df6ba4;
    border-bottom: 20px solid transparent;
    margin: -7px 0 0 -38px;
    }
.goton{
    position: absolute;
    right: -25%;
    bottom: 0;
    background-image: url(../img/g3.png);
    background-size: 40% 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    height: 10em;
    width: 50%;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex-d{
    display: flex;
    justify-content: flex-start;
}
.flex-g{
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
}
.t_imagen_personajes{
    background-image: url(../img/personajes.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_proceso{
    background-image: url(../img/proceso.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_noticias{
    background-image: url(../img/noticias.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_ahorro{
    background-image: url(../img/ahorros.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_videos{
    background-image: url(../img/videos.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_galeria{
    background-image: url(../img/galeria.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_descarga{
    background-image: url(../img/descarga.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_imagen_concurso{
    background-image: url(../img/concurso.png);
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0.2em;
}
.t_lato{
    font-family: Lato;
}

.i-tilulo{
    font-family: AmazingKids;
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.title-g{
    font-family: AmazingKids;
    font-size: 5.5em;
    display: flex;
    align-self: center;
}

.hom-t{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-principal{
    height: 10em;
    width: 85%;
    background-image: url(../img/fondo.png);
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-self: center;
}
.title_p{
    font-family: AmazingKids;
    font-size: 2em;
    color: white;
}
.info_gotina{
    background: url(../img/info_gotina.png);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    height: 35em;
    width: 101%;
}
.info_gotina_descripcion{
    display: none;
}
.info_gotin_descripcion{
    display: none;
}
.info_goton_descripcion{
    display: none;
}
.info_gotin{
    background: url(../img/info_gotin.png);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    height: 35em;
    width: 101%;
}
.gotiaohorro-img{
    position: relative;    height: 10em;    width: 20%;    margin: 10px 10px 0 0;
}
.gotivideo-t{
    display: flex;
    justify-content: center;
    margin: 0;
}
.galeria{
    background: #ffffff6b;
    border: 1px solid #ddddddd4;
    padding: 40px;
    box-shadow: 4px 3px 8px rgba(0,123,255,.25);
}
.info_goton{
    background: url(../img/info_goton.png);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    height: 35em;
    width: 101%;
}
.margin_c{
    margin-left: 0;
    margin-right: 0;
}
.center{
    text-align: center;
}
.texto_p{
    text-align: justify;
    color: white;
    margin: 0 40px;
}

.logos{
    background: white;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: space-around;
}
.logos2{
    background: white;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: space-around;
}
.portoviejo{
    margin: 5px 0 5px 0;
    width: 7em;
    display: flex;
    align-self: center;
}
.facebook{
    width: 10em;
}
.twitter{
    width: 10em;
}

.web{
    width: 10em;
}

.youtube{
    width: 10em;
}

.frik{
    width: 10em;
}

.portoaguas{
    width: 10%;
}
.logos a img {
   
    display: flex;
    align-self: center;
}
.logos a{
    display: flex;
}

.logos img{
    display: flex;
    align-self: center;
}

.logos2 a img {
   
    display: flex;
    align-self: center;
}
.logos2 a{
    display: flex;
}

.logos2 img{
    display: flex;
    align-self: center;
}


.padding-top-3{
    padding: 3em;
    margin-right: 0px; 
    margin-left: 0px;
}
.banner-azul{
    background-image: url(../img/banner.png);
    height: auto;
    width: 100%;
    background-size: 100%100%;
    background-repeat: no-repeat;
}
figure img {
    width: 39px;
    height: 39px;
}
.nav > li {
    text-align: center;
    width: 5.5%;
    display: flex;
    justify-content: center;
}
.linea::before{
    background-image: url(../img/linea.png);
}
.navbar-light .navbar-nav .nav-link {
    display: flex;
    align-self: flex-start;
}
body{
    background-image: url('/img/background_empty.png');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100%;
}

.texto{
    margin: 0 24% 0 24%;
}
.texto p{
    font-family: Lato;
    font-size: 1.1em;
    text-align: justify;
}

.nav {
    width: 100%;
    font-family: "Frutiger";
    justify-content: space-between;
}

/*div video{
    width: auto;
}*/
#govi video{
    height: 259px;
    width: 455px;
    margin-top: 10%;
    margin-left: 3px;
}

div video{
    height: 259px;
    width: 439px;
    margin-top: 10%;
    margin-left: -70px;
}

#gav video{
    height: 259px;
    width: 439px;
    margin-top: 5%;
    margin-left: 20px;
}

.logos2{
    display: none;
}
#viewm{
    display: none;
}
#viewn{
    display: flex;
}

#viewn img{
    /*margin-bottom: 1%;
    margin-top: 1%;
    width: 43%;
    float: left;
    border-style: solid;
    border-color: white;*/
    margin-bottom: 1%;
    margin-top: 1%;
    width: 43%;
    height: 300px;
    border-style: solid;
    border-color: white;
}

.separador{
    height: 3%;
    width: 3%;
    clear: both;
}
.separador2{
    width: 3%;
    height: 1px;
    float: left;
}
@media only screen and (max-width: 768px){
    .post-modern-media-concurso img {
        width: 181px;
        height: 235px;
        margin-left: 20%;
        margin-top: 8%;
    }

    .post-modern-meta-concurso {
        margin-top: 17px;
        margin-left: 14%;
        margin-bottom: 1%;
        padding-bottom: 9px;
        text-align: justify;
        width: 176px;
        font-size: 15px;
    }

    .fecha-publicacion {
        margin-left: 20%;
        margin-top: 3%;
    }


    .fecha-publicacion h3{
        font-size: 13px;
    }

    .text_am {
        font-size: 3.5em;
    }
    .gotina{
        background-size: 50%;
        height: 15em;
        background-position: 40px;
        width: 50%;
    }

    .info_gotina{
        background: #ffa7c6;
        background-image: url(../img/g2.png);
        background-size: 40%;
        background-position: top;
        background-repeat: no-repeat;
        height: 52em;
        width: 101%;
    }
    .info_gotina_descripcion{
        display: flex;
        padding-top: 90%;
        padding-left: 4%;
        padding-right: 1%;
        text-align: justify;
        font-size: 17px;
        /*font-family: cursive;*/
        font-family: 'Oxygen Mono', monospace;
    }

    .info_gotin{
        background: #bcf242;
        background-image: url(../img/g1.png);
        background-size: 40%;
        background-position: top;
        background-repeat: no-repeat;
        height: 62em;
        width: 101%;
    }
    .info_gotin_descripcion{
        display: flex;
        padding-top: 90%;
        padding-left: 4%;
        padding-right: 1%;
        text-align: justify;
        font-size: 17px;
        /*font-family: cursive;*/
        font-family: 'Oxygen Mono', monospace;
    }
    .info_goton{
        background: #d8dfc3;
        background-image: url(../img/g3.png);
        background-size: 95%;
        background-position: top;
        background-repeat: no-repeat;
        height: 35em;
        width: 101%;
    }
    .info_goton_descripcion{
        display: flex;
        padding-top: 90%;
        padding-left: 4%;
        padding-right: 1%;
        text-align: justify;
        font-size: 17px;
        /*font-family: cursive;*/
        font-family: 'Oxygen Mono', monospace;
    }

    .gotin{
        background-size: 50%;
        height: 15em;
        width: 50%;
    }

    .goton {
        background-size: 100%;
        right: 0%;
        height: 100px;
        max-width: 100px;
    }

    .logos2{
        display: flex;
    }

    .animationt{
        margin-left: 5%;
    }

    .post-modern-media img {
        margin-left: 4%;
        width: 65%;
        margin-top: inherit;
        height: 142px;
    }

    #gav video{
        height: 220px;
        width: 277px;
        margin-top: -4%;
        margin-left: -16px;
    }

    #viewm{
        display: flex;
    }

    #viewn{
        display: none;
    }

    #viewm img{
        width: 100%;
        height: 100%;
        margin-bottom: 6%;
        margin-left: -22px;
        border-style: solid;
        border-color: white;
    }


    .logos{
        display: none;
    }
    .portoviejo{
        width: 2.5em;
    }
    .facebook{
        width: 3em;
    }
    .twitter{
        width: 3em;
    }
    
    .web{
        width: 3em;
    }
    
    .youtube{
        width: 3em;
    }
    
    .frik{
        width: 3em;
    }
    
    
    .gotiaohorro-img{
        width: 45%;
    }
    /*div video{
        width: 250px;
    }*/
    /*#govi{
        margin-bottom: -34px;
    }*/
    #govi video{
        height: 259px;
        width: 286px;
        margin-left: -21px;
        margin-bottom: -4%;
        margin-top: -1%;
    }

    div video{
        height: 245px;
        width: 220px;
        margin-top: 10%;
        margin-left: -37px; 
    }
    .t_imagen {
        margin-left: 2em;
        margin-top: 0.9em;
    }

    .t_imagen_personajes{
        margin-left: 2.5em;
        margin-top: 0.9em;
    }
    .t_imagen_proceso{
        margin-left: 2.3em;
        margin-top: 0.5em;
    }
    .t_imagen_noticias{
        margin-left: 2.3em;
        margin-top: 0.5em;
    }
    .t_imagen_ahorro{
        margin-left: 2.3em;
        margin-top: 0.5em;
    }
    .t_imagen_videos{
       margin-left: 2.3em;
        margin-top: 0.5em;
    }
    .t_imagen_galeria{
       margin-left: 2.3em;
        margin-top: 0.5em;
    }
    .t_imagen_descarga{
       margin-left: 2.6em;
        margin-top: 0.5em;
    }
    .t_imagen_concurso{
        margin-left: 2em;
        margin-top: 0.7em;
    }


    .banner-azul {
        width: auto;
    }

    .title-g {
        font-size: 3.5em;
        text-align: center;
    }
    .logo-principal {
        height: 6em;
        width: 100%;
    }

    .padding-top-3 {
        padding: 5em 2px;
    }
    .texto p {
        font-size: 0.8em;
    }    
    .title_p {
        font-size: 1.8em;
    }
    .texto_p {
        margin: 0;
        font-size: 0.8em;
    }
    .texto {
        margin: 0 5% 0 5%;
    }
    .nav > li {
        width: 100%;
    }
    
    .nav li figure figcaption {
        vertical-align: middle;
        padding-top: 1em;
    }
    .nav li figure {
        padding: 0;
        text-align: left;
        height: 50px;
    }
    .nav li figure img {
        float: left;
        width: 50px;
        height: auto;
        margin-right: 1em;
    }
    .nav li figure figcaption {
        vertical-align: middle;
        padding-top: 1em;
    }

    .titulo_p {
        font-size: 2.5em;
    }

}


@media (min-width: 992px){
    .modal-lg {
        max-width: 1500px;
    }
}
